* {
  padding: 0;
  margin: 0;
}

:root {
  --title-font {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;

    /* ----------color--------------- */

    --clr-white: #fff;
    --clr-dark: #333;
    --clr-grey-1: #102a42;
    --clr-grey-2: #617d98;
    --clr-grey-3: #f1f5f8;
    --clr-primary: #f53b57;
    --clr-primary-light: #f04660;
    --clr-secondary: #e9b949;
    text-decoration: none;

    /* --------font size------ */
    --bigtitle: 56px;
    --title: 30px;
    --subtitle: 26px;
    --content: 20px;
    --para: 16px;
  }
}

.webtemplate {
  display: grid;
  grid-template-columns: 230px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "navbar navbar"
    "sidebar main"
    "sidebar footer";
  width: 100%;
  height: auto;
  overflow: hidden;
}


aside {
  grid-area: sidebar;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}


nav {
  grid-area: navbar;


}

@media screen and (max-width:1024px) {
  .webtemplate {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "navbar navbar"
      "main main"
      "footer footer";
    width: 100%;
    overflow: hidden;
  }
}

nav {
  background-color: #111418;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  display: none;
  position: relative;
  z-index: 100;
  padding: 10px 0;
}

#nav-logo {
  font-size: 30px;
  color: white;
  cursor: pointer;
  display: block;
}

.mobilenav-container i {
  color: #f04660;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.navbar-container {
  display: flex;
  width: 100%;
  overflow: hidden;
  padding: 10px 10px;
  align-items: center;
  justify-content: space-between;
}

.navbar-left {
  display: flex;
  justify-content: start;
}

.navbar-left h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  color: white;
  white-space: nowrap;
}

.navbar-right {
  display: flex;
  justify-content: space-between;
  gap: 30px;

}

.navbar-right a {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  transition: all 500ms ease-in;
  text-decoration: none;
  color: white;
}

.mobile-nav {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 50vh;
  margin-top: 15px;
  right: 0;
  left: 0;

}

.mobile-nav-con {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 30px;
  z-index: 4;
}

.mobile-nav-con a {
  color: white;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  border-bottom: #f04660 solid 1px;
  width: 100%;
  text-align: center;
}



@media screen and (max-width:1024px) {
  nav {
    display: flex;
    width: 100%;
  }

  .navbar-container {
    display: flex;
  }

}

@media screen and (max-width:640px) {
  .navbar-right {
    display: none;
  }

  .mobilenav-container i {
    display: block;
  }

  #nav-logo {
    display: block;
  }

}


.sidebar-container {
  display: flex;
  flex-direction: column;
  background-color: #111418;
  align-items: center;
  color: white;
  width: 200px;
  padding: 20px 15px;
  height: 100vh;
  z-index: 100;
  gap: 30px;
  position: fixed;
}

.sidebar-img {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.sidebar-img h3 {

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  cursor: pointer;
}

.sidebar-content a {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 0px;
  width: 100%;
  text-align: center;
  transition: all 500ms ease-in;
  text-decoration: none;
  color: white;
}

.sidebar-content a:hover {
  background: linear-gradient(#e9b949, #f53b57);
  border-left: solid #e9b949 10px;
  padding: 10px 20px 10px 0px;
  width: 100%;

}

.sidebar-img img {
  width: 150px;
  height: 150px;
  border-radius: 55%;
  object-fit: cover;
  border: 5px solid #343A40;

}

.sidebar-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.sidebar-content-logo i {
  font-size: 36px;
  cursor: pointer;
  color: #6e7379;
  transition: all 300ms ease-in;
}

.sidebar-content-logo i:hover {
  color: white;
}

@media screen and (max-width:1024px) {
  .sidebar {
    display: none;
  }
}

@media screen and (max-width:640px) {
  .sidebar {
    display: none;
  }
}


/* ---------side bar end----------------- */

/* ---------------type text start------------- */
.homebg-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7)), url(.//assetes/coding.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  cursor: default;
}

.homebg-container h3 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 60px;
}

.type-text {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 36px;
}

.type-text-pin {
  color: #f04660;
  color: #e9b949;
}

.homebg-container p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
}

.homebg-container button {
  background-image: linear-gradient(to right, #f04660, #e9b949);
  padding: 10px 25px;
  border: none;
  border-radius: 30px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.homebg-container button:hover {
  outline: #f04660;
  outline: 3px solid #f04660;
  outline-offset: 3px;
  background-image: linear-gradient(#e9b949, #f04660);
}



@media screen and (max-width:640px) {
  .homebg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .homebg-container h3 {
    font-size: 46px;

  }

  .type-text {
    width: 100%;
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .homebg-container p {
    font-size: 16px;
  }
}

/* ------------type text end------------ */

/* -------------------title start------------- */
.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  position: relative;
  cursor: default;
}

.title-container h2 {
  font-size: 96px;
  color: #494E53;
}

.title-container p {
  font-size: 36px;
  position: absolute;
  color: white;
}

.title-span {
  border-bottom: #f04660 solid 5px;
}

@media screen and (max-width:640px) {
  .about-container {
    width: 100vw;
  }

  .title-container h2 {
    font-size: 66px;
  }

  .title-container p {
    font-size: 26px;
  }
}

/* -------------title end ----------- */

/* ----------about start-------- */
.about-container {
  background-color: #212529;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
}

.about-content {
  display: flex;
  justify-content: space-evenly;
  padding: 60px;
  gap: 20px;
  cursor: default;
}

.about-container-left {
  display: flex;
  flex-direction: column;
}

.about-content-left h3 {
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  flex-wrap: wrap;
  color: white;
  margin-bottom: 15px;
}

.about-content-left p {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #88A3AF;
  margin-bottom: 15px;
}

.about-content-name {
  color: #F97316;
  text-decoration: none;
}

.about-content-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-content-right {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.about-content-right-span {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: white;
}

.download-cv {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  background-color: #F97316;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.view-cv {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  padding: 5px 15px;
  background-color: #22C55E;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width:640px) {
  .about-content {
    flex-direction: column;
    padding: 20px;
  }

  .about-content-left h3 {
    font-size: 26px;
  }
}

/* -----------about end---------- */
/* ------------project start------------ */
.project-container {
  background-color: #343A40;
  padding-bottom: 30px;
}

.project-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 30px;
}

.project-image-div {
  border-radius: 15px;
  max-width: 400px;
  height: 200px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.647);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  flex-wrap: wrap;
}

.project-image-div img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 800ms ease;
}

.project-image-div-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  color: white;
  padding: 30px;
  text-align: center;
  gap: 10px;
  overflow: hidden;
  opacity: 0;
  transition: all ease-in-out 500ms;
  cursor: default;
}

.project-image-div:hover .project-image-div-details {
  opacity: 1;
}

.project-image-div:hover img {
  transform: scale(1.1);
  filter: brightness(0.3);
}


.project-image-div-details h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 20px;
}

.project-image-div-details p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 16px;
}

.project-image-div-details button {
  background: linear-gradient(#f04660, #e9b949);
  padding: 10px 50px;
  border-radius: 5px;
  border: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}

.project-image-div-details button:hover {
  background: linear-gradient(#e9b949, #f04660);
  transition: all 1s ease;
}

.project-more {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #1F2937;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 180px;
  width: 400px;
  padding: 10px 0;
  cursor: default;
}

.project-more h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 26px;
}

.project-more p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 16px;
}

.project-more button {
  background: linear-gradient(#f04660, #e9b949);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;

}

.project-more button:hover {
  background: linear-gradient(#e9b949, #f04660);
  transition: all 1s ease;
}


/* -------------------project end----------- */

/* --------------All Project Start Here------------- */

.project-list {
  display: grid;
  background-color: #111418;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 50px;
  padding: 40px;
  height: 100%;
}

.all_project {
  background-color: #111418;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.all_project_list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
  overflow: hidden;
  transition: all ease-in-out 500ms;
  border-radius: 15px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.647);
}

.all_project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 800ms ease;
}


.all_project_details {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 15px;
  position: absolute;
  padding: 10px 0;
  opacity: 0;
  gap: 10px;
  transition: all 800ms ease;
}

.all_project_details h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 26px;
}

.all_project_details p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 16px;
}

.all_project_details button {

  background: linear-gradient(#f04660, #e9b949);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  cursor: pointer;
  transition: all 100ms ease;

}

.all_project_details button:hover {
  background-color: transparent;
  background-clip: text;
  border: 3px solid #f04660;
}

.all_project_list:hover img {
  transform: scale(1.1);
  filter: brightness(0.4);

}

.all_project_list:hover .all_project_details {
  opacity: 1;
  cursor: default;
}

@media screen and (max-width:1024px) {
  .project-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .project-list {
    grid-template-columns: 1fr 1fr;
    padding: 20px;
  }

  .all_project_details h3 {
    font-size: 20px;
  }

  .all_project_details p {
    font-size: 13px;
  }

  .all_project_details button {

    background: linear-gradient(#f04660, #e9b949);
    padding: 5px 15px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;

  }

}

@media screen and (max-width:640px) {
  .project-container{
    width: 100vw;
  }
  .project-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-image-div {
    max-width: fit-content;
  }

  .project-more {
    max-width: fit-content;
  }

  .project-list {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .all_project_details h3 {
    font-size: 20px;
  }

  .all_project_details p {
    font-size: 13px;
  }

  .all_project_details button {
    padding: 5px 15px;
    font-size: 16px;

  }
}

/* ---------------project end------------------- */

/* -----------------Resume Start------------------- */

.resume_container {
  background-color: #212529;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.resume-edu {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
  border-radius: 15px;
  cursor: default;
}

.resume-heading {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 30px;
}

.resume-edu-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  background-color: #1F2937;
  border-radius: 15px;
  padding: 20px 30px;
}

.resume-time {
  background-color: #f53b57;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 10px;
}

.resume-sub {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: white;
  font-size: 20px;
}

.resume-para {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #F97316;
  font-size: 16px;
}

.resume-inten-time {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #88A3AF;
  font-size: 16px;
}

.resume-inten-para {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 16px;
}

.resume-skill-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 20px;
  background-color: #1F2937;
  border-radius: 15px;
  padding: 20px 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.resume-skills {
  background-color: #f53b57;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: white;
  width: fit-content;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 20px;
  transition: all 500ms ease;
  cursor: default;
}

.resume-skills:hover {
  transform: translateY(-5px);
}

.resume-cv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-cv button {
  padding: 10px 25px;
  background-color: transparent;
  border-radius: 30px;
  color: #88A3AF;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  cursor: pointer;
  border: #88A3AF solid 1px;
}

.resume-cv button:hover {
  background-color: #374151;
  color: white;
}
@media screen and (max-width:1024px) {
  .resume_container{
    width: 100vw;
  }
}
@media screen and (max-width:640px) {
  .resume_container{
    width: 100vw;
  }
}
/* ---------------resume end --------------------- */

/* ---------------contact us----------------- */

.contact-us {
  background-color: #343A40;
  padding-bottom: 100px;
}

.contact-us-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 50px;
  padding: 20px 30px;

}

.contact-us-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  align-items: start;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-details-head {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  font-size: 26px;
}

.contact-details-data {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #6e7379;
  font-size: 16px;
  text-decoration: none;
}

.contact-details-para {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #6e7379;
  font-size: 16px;
}

.contact-details {
  display: flex;
  flex-direction: column;

}

.contact-us-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.contact-details-input {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;

}

.contact-details-input input {
  background-color: #1F2937;
  padding: 15px 25px;
  width: 250px;
  border: none;
  border-radius: 5px;
  color: #6e7379;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;

}

.contact-details-input input:focus {
  outline: none;
}

.contact-details textarea {
  background-color: #1F2937;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  padding: 15px 25px;
  height: 100px;
  border-radius: 10px;
  border: none;
  color: #6e7379;
}

.contact-details textarea:focus {
  outline: none;
}

.contact-details button {
  background-image: linear-gradient(to right, #f04660, #e9b949);
  padding: 10px 25px;
  border: none;
  border-radius: 30px;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
  width: fit-content;
  text-decoration: none;
}

.contact-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:1024px) {
  .contact-us{
    width: 100vw;
  }
  .contact-us-container{
    flex-direction: column;
  }
  .contact-details-head{
    font-size: 20px;
  }
}
@media screen and (max-width:640px) {
  .contact-us{
    width: 100vw;
  }
  .contact-us-container{
    flex-direction: column;
  }
  .contact-details-head{
    font-size: 20px;
  }
  .contact-details-para {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  text-wrap: wrap;
}
.contact-details-input input{
  width: 100%;
}
}